.eiffelTower__searchYear{ 
    z-index:100;
    margin-left:80%;
    margin-top:calc(-160px + (50vw * 0.1) - 10vw);
    height:150px;
    position:absolute;
}

.col-2{
    @include media('>=draw-2'){
        width:16% !important;
    }
    width:100% !important;
    .div200.tour{
        margin-left:20px;
        text-align: center !important;
    }
}
.LoadingScreen{
    height:100vh; 
    width:100vw;
    // background:red;
    margin:0 !important; 
    padding:0 !important; 
}
.ring{
    position:fixed; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%); 
    width:150px; 
    height:150px; 
    text-align:center; 
    font-size:20px; 
    letter-spacing: 4px;
    text-shadow:0 0 10px black;
    box-shadow: 0 0 20px rgba(0,0,0, .5);
    line-height:150px;
    background:transparent; 
    border:3px solid transparent;
    border-radius:50%; 
    z-index:1000;
}
.ring::before{
    content:''; 
    position:absolute !important; 
    top:-3px; 
    left:-3.5px; 
    width:105%; 
    height:105%;
    border:3px solid transparent;
    border-top:4px solid $orange--dark;
    border-right:4px solid  $orange--dark;
    box-shadow:0 0 5px $orange--dark;
    border-radius:50%;
    animation:looping 2s linear infinite;
}
.spanRing{ 
    display:block; 
    position:absolute; 
    top:calc(50% - 2px); 
    left:50%;
    width:50%; 
    height:4px; 
    background: transparent;
    transform-origin: left; 
    animation: looping-2 2s linear infinite;
}
.spanRing::before{
    content:''; 
    position:absolute; 
    width:16px; 
    height:16px; 
    border-radius:50%; 
    background:$orange--dark; 
    top:-8px; 
    right:-8px;
    box-shadow:0 0 5px $orange--dark;

}
@keyframes looping-2{ 
    0%{
        transform:rotate(45deg); 
    }
    100%{
        transform:rotate(405deg);
    }
}
@keyframes looping{ 
    0%{
        transform:rotate(0deg); 
    }
    100%{
        transform:rotate(360deg);
    }
}
.rowsearch{
    justify-content: center !important;
    background-color:rgba(255,255,255, .2);
    box-shadow:$boxShadow__button--small;
    padding:3vw !important;
    margin:5vw !important;
    border-radius:10px !important;
    @include media('<=draw-6'){
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px !important;
    }
    @include media('<=draw-2', '>draw-6'){
        grid-template-columns: repeat(3,1fr);
        display: grid !important;
        justify-content: center !important;
        grid-gap: 10px !important;
    }
}
.col-2 .div200:nth-child(2){
    margin-top:3vw;
}
.demi{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row: 1 !important;
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 3 !important;
        grid-row: 1 !important;
    }
}
.quart{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 1 !important;
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row: 1 !important;
    }
}
.huitieme{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row-start: 2 !important; 
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 1 !important;
    }
}
.troisieme{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column-start: 1 !important;
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 3 !important;
        grid-row: 3 !important;
    }
}
.second{ 
    display:grid;
    @include media('<=draw-6'){
        display: grid !important;
        grid-column: 2 !important;
        grid-row: 3 !important; 
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row: 3 !important;
    }

}
.div200.tour{ 
    position:absolute;
}
.premier{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 3 !important; 
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 3 !important;
    }
}
.premier, .second, .troisieme, .huitieme, .quart, .demi{
    align-content: space-around!important;
}
