.eiffelTower__searchYear{ 
    z-index:100;
    margin-left:80%;
    margin-top:calc(-160px + (50vw * 0.1) - 10vw);
    height:150px;
    position:absolute;
}

.col-2{
    @include media('>=draw-2'){
        width:16% !important;
    }
    width:100% !important;
    .div200.tour{
        margin-left:20px;
        text-align: center !important;
    }
}
.rowsearch{
    justify-content: center !important;
    background-color:rgba(255,255,255, .2);
    box-shadow:$boxShadow__button--small;
    padding:3vw !important;
    margin:5vw !important;
    border-radius:10px !important;
    @include media('<=draw-6'){
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px !important;
    }
    @include media('<=draw-2', '>draw-6'){
        grid-template-columns: repeat(3,1fr);
        display: grid !important;
        justify-content: center !important;
        grid-gap: 10px !important;
    }
}
.col-2 .div200:nth-child(2){
    margin-top:3vw;
}
.demi{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row: 1 !important;
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 3 !important;
        grid-row: 1 !important;
    }
}
.quart{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 1 !important;
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row: 1 !important;
    }
}
.huitieme{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row-start: 2 !important; 
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 1 !important;
    }
}
.troisieme{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column-start: 1 !important;
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 3 !important;
        grid-row: 3 !important;
    }
}
.second{ 
    display:grid;
    @include media('<=draw-6'){
        display: grid !important;
        grid-column: 2 !important;
        grid-row: 3 !important; 
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 2 !important;
        grid-row: 3 !important;
    }

}
.div200.tour{ 
    position:absolute;
}
.premier{ 
    display:grid;
    @include media('<=draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 3 !important; 
    }
    @include media('<=draw-2', '>draw-6'){
        display:grid !important;
        grid-column: 1 !important;
        grid-row: 3 !important;
    }
}
.premier, .second, .troisieme, .huitieme, .quart, .demi{
    align-content: space-around!important;
}
