.content{
    padding:2vw 3vw 1vw 3vw;
    @include media('<desktop', '>laptop'){
        padding:2vw 8vw 1vw 8vw;
    }
}

.content-box{
   
    text-align:center;
    &.content-box--year, &.content-box--profil, &.content-box--bull{
        display:block !important; 
        margin-inline:auto;
        width:80% !important;
        margin-block:5vw;
        max-width:1000px !important;
        @include media('>laptop'){
            display:flex !important; 
        }
        .content-box__text{
            width:80%;
            margin-inline:auto;
            @include media('>laptop'){
                width:60% !important;
                margin-right:0;
            }
        }
    }
}
.content-box--profil{
    .content-box__text{
        order:2 !important;
    }
} 

.content-box--profil, .content-box--year, .content-box--bull{
    background:rgba(255,255,255,0.1);
    border-top:6px solid rgba(255,255,255,0.2);
    border-left:6px solid rgba(255,255,255,0.2);
    box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    border-radius:30px;
    padding:2.5vw;
    input{
        box-shadow:3px 3px 4px black ;
        &:hover{
            box-shadow:3px 3px 12px black ;
        }
    }
}
.content-box--cross-search{ 
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width:60%;
    max-width:600px;
    align-content: flex-start;
    @include media('<tablet'){
        width:80%;
        margin-inline:auto !important;
    }
}
// Outer content-box--cross-search
.outer-cross{ 
    margin-inline: 8vw;
    display:flex;
    @include media('>laptop'){
        margin-inline:auto !important;
    }
    @include media('<tablet'){
    display:block;
    }
    margin-top: 5vw;
    max-width:1200px;
    width:90%;
}
.content-box--bull{ 
    margin-top:20vw !important;
    margin-bottom:240px !important;
    @include media('<=tablet'){
        margin-left:2vh;
    }
}

.content-box__search{
    padding:1vh 1vw;
    display:flex;
    &.content-box__search--year, &.content-box__search--profil, &.content-box__search--bull{
        width:fit-content;
        margin-inline:auto;
        margin-top:2vw;
        @include media('>laptop'){
            align-content:center;
            margin-block:auto!important;
        }
    }
}
.content-box__search.content-box__search--year{
    @include media('>laptop'){
        padding-left:-2vw;
        padding-top:40px;
    }
}
.content-box__search.content-box__search--profil{
    order:1 !important;
}
.content-box__search--cross-search{
    justify-content: space-around;
    align-items:center !important;
}
.content-box__search.content-box__search--bull{
    @include media('>laptop'){
        padding-right:2vw;
        padding-top:70px;
    }
}
.content-box__search.content-box__search--slider{
    justify-content: center;
    margin-top:10px;
}






.proposition_player, .proposition_player--searchCross, .proposition_player--searchBull{ 
    max-height:350px;
    max-width:180px;
    background-color:white ;
    overflow-y: scroll;
    border-radius: 15px;
    padding:5px;
    border:1px solid $green--darker;
    position:absolute;
    z-index:10;
}
.proposition_player.hidden, .proposition_player--searchCross.hidden, .proposition_player--searchBull.hidden{ 
    visibility: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.proposition_player::-webkit-scrollbar, .proposition_player--searchCross::-webkit-scrollbar, .proposition_player--searchBull::-webkit-scrollbar, .form-select::-webkit-scrollbar{
    display: none;
  }
  .proposition_player--searchBull{
      margin-top:30px;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .proposition_player, .proposition_player--searchCross, .proposition_player--searchBull, .form-select{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.propal_joueur{ 
    position:relative;
    display:flex;
    justify-content: flex-start;
    padding-block:.5vw;
    &::after{
        content:'';
        background: gray;
        height:2px;
        width:60%;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translate(-50%)
    }
    &:hover, &:focus{ 
        background-color:$orange--dark;
        cursor:pointer;
    }
}




.draw__flag.propal{ 
    max-height:25px;
    margin-right:3px;
}

a{
    height:fit-content;
}








